@media screen and (hover: hover) {
  .checkInput label:hover {
    box-shadow: 0 0 15px #000 inset;
  }

  .active:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5019607843) inset !important;
  }

  #button:hover {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.0666666667) inset;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

.wrapper {
  box-sizing: border-box;
  width: 40vw;
  height: fit-content;
  margin: 50px auto 0;
  padding: 40px;
  color: #f2f2f2;
  border-radius: 20px;
  background-color: #000;
  text-align: center;
}
.wrapper h1 {
  margin-bottom: 20px;
}

.checkInput {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkInput label {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: #eee;
  color: #000;
  border-radius: 10px;
  user-select: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.checkInput label input {
  display: none;
  border: 1px;
}
.checkInput label:active {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5019607843) inset;
}

.active {
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.5019607843) inset !important;
}

.input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input p {
  margin-right: 5px;
  font-size: 1.2rem;
}
.input input {
  width: fit-content;
  padding: 2px 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
}
.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  display: none;
}

#button {
  width: 250px;
  height: 40px;
  margin-top: 30px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#button:active {
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2) inset;
}

.result {
  width: fit-content;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: z0px;
  margin: 30px auto;
  color: #fff;
}
.result div {
  margin: 10px;
  user-select: all;
  background-color: #000;
  border-radius: 10px;
}
.result div h2 {
  margin: 5px;
  padding: 10px;
  outline: dotted 1px #fff;
  border-radius: 5px;
}

@media screen and (max-width: 1600px) {
  .wrapper {
    width: 50vw;
  }

  .result {
    max-width: 50vw;
  }
}
@media screen and (max-width: 1300px) {
  .wrapper {
    width: 60vw;
  }

  .result {
    max-width: 60vw;
  }
}
@media screen and (max-width: 1100px) {
  .wrapper {
    width: 70vw;
  }

  .result {
    max-width: 70vw;
  }
}
@media screen and (max-width: 950px) {
  .wrapper {
    width: 80vw;
  }

  .result {
    max-width: 80vw;
  }
}
@media screen and (max-width: 830px) {
  .wrapper {
    width: 90vw;
  }

  .result {
    max-width: 90vw;
  }
}
@media screen and (max-width: 730px) {
  h2 {
    font-size: 1.25rem;
  }

  .checkInput {
    width: 100%;
  }

  .result {
    max-width: 50vw;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 1rem;
    word-wrap: break-word;
  }

  .wrapper {
    width: calc(100vw - 20px);
    margin: 10px;
    padding: 20px;
  }

  .result {
    box-sizing: border-box;
    max-width: calc(100vw - 20px);
  }
}
@media screen and (max-width: 360px) {
  .wrapper {
    padding: 10px;
  }
  .wrapper h1 {
    margin-bottom: 5px;
    font-size: 1.5rem;
  }

  .checkInput label {
    padding: 5px;
    border-radius: 5px;
  }

  .input p,
p {
    font-size: 1rem;
  }

  #button {
    width: 60%;
  }

  .result div {
    margin: 5px;
    border-radius: 5px;
  }
  .result div h2 {
    margin: 3px;
    padding: 5px;
    border-radius: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
